.background-main {
    background-color: var(--background-main);
}

.background-secondary {
    background-color: var(--background-secondary);
}

p, a {
    color: white;
}

.text-white {
    color: white;
}

.side-menu li {
    display: inline-block;
}

.side-menu li img {
    display: inline-block;
}